<html>
    <head>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src="/js/home.js"></script>
    </head>
    <body>
        <input type="text" placeholder="Enter Message" id="message">
        <br><br>
        <input type="number" placeholder="Enter Number" id="number">
        <br><br>
        <button id="sms">Send SMS</button>
    </body>
</html>